#login {
    .img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text {
        h2,
        h3 {
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Raleway";
            margin-top: 50px;
        }
        h2 {
            font-size: 20px;
            line-height: 23.48px;
            font-weight: 700;
        }
        h3 {
            font-size: 14px;
            line-height: 16.44px;
            font-weight: 400;
        }
    }

    .form {
        input {
            color: #ffffff;
            border: 1px solid #ffffff;
            border-radius: 15px;
            padding: 10px 20px;
            width: 335px;
            height: 50px;
            cursor: pointer;
            display: flex;
            font-family: "Raleway";
            margin-top: 20px;
        }
        button {
            background-color: #2bc990;
            color: #ffffff;
            font-weight: 700;
            border-radius: 15px;
            width: 335px;
            height: 50px;
            margin-top: 20px;
            font-family: "Raleway";
        }
    }
}
